$theme-colors: (
  "success": #ff7600,
);

.list-group-item:hover {
  cursor: pointer;
}

.usercard {
  font-size: x-small;
}

#homeActivities {
  overflow-y: scroll;
  height: 30rem;
}

main {
  background-color: rgb(245, 245, 245);
  padding: 1rem;
}

.logo {
  font-size: xx-large;
  font-family: fantasy;
  font-weight: 700;
}

.inputError {
  color: red;
  display: none;
}

.avatar {
  height: 70px;
  width: 70px;
  border-radius: 25%;
  font-size: xx-large;
  font-weight: 600;
}

.avatarSmall {
  height: 50px;
  width: 50px;
  border-radius: 25%;
  font-size: x-large;
  font-weight: 600;
}

.avatarReallySmall {
  height: 25px;
  width: 25px;
  border-radius: 25%;
  font-size: small;
  font-weight: 600;
}

.avatarSmall:hover,
.activityTitle:hover,
.avatarReallySmall,
svg {
  cursor: pointer;
}

.list-group-item:hover {
  cursor: unset;
}

#errorAlert {
  display: none;
}

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
